* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid silver;
}

img {
    width: 100px;
}

li {
    list-style: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    line-height: 1rem;
    color: #252525;
    letter-spacing: 0.1px;
}

h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 35px;
    line-height: 2.2rem;
    color: #222;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 23px;
    font-weight: 500;
    line-height: 1.5rem;
    color: #000;
    text-align: center;
    word-break: keep-all;
}

h3 {
    font-size: 20px;
    line-height: 1.5rem;
    font-weight: 500;
    margin-bottom: 60px;
    text-align: center;
}

h4 {
    font-size: 1.6rem;
    line-height: 1.6rem;
}

h5 {
    font-size: 0.7rem;
    line-height: 0.7rem;
}

strong {
    font-size: 23px;
    font-weight: 300;
    line-height: 2.5rem;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}

small {
    font-size: smaller;
    color: #999;
}

a:link {
    color: #252525;
    text-decoration: none;
}

a:visited {
    color: #252525;
}

button {
    width: 100%;
    height: 50px;
    font-family: 'Noto Sans Kr', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background: transparent;
    transition: 0.5s;
    outline: none;
    cursor: pointer;
}

.btn-eee {
    background: #eee;
    color: #333;
}

.btn-eee:hover {
    background: #ccc;
    color: #333;
}

.btn-brown {
    background-color: #4f342a;
    color: #fff;
}

.btn-brown:hover {
    background-color: rgb(97, 36, 12);
}

.btn-fff {
    color: #000;
    border: 1px solid #ccc;
    background-color: #fff;
}

.btn-fff:hover {
    border: 1px solid #000;
    background-color: #fff;
}

article {
    width: 90%;
    max-width: 1000px;
    border: 1px solid #eee;
    padding: 60px 30px 70px 30px;
    margin: 0 auto;
    margin-bottom: 120px;
}

input[type="text"] {
    width: 100%;
    height: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    margin-bottom: 24px;
    padding-left: 12px;
    border-bottom: 1px solid #ddd;
    outline: none;
}

textarea {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 12px;
    resize: none;
}

textarea:focus {
    outline: 1px solid black;
}

select {
    width: 100%;
    height: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #ddd;
    padding-left: 2vmin;
    margin-bottom: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('images/logo/qna_icon_under.png') no-repeat 97% 50%/10px auto;
}

select:focus {
    outline: 1px solid black;
}

/* qna */

.qna-to {
  border: none;
}

.qna-to h3 {
    margin-bottom: 40px;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 40px 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.qna-to>div:nth-child(2) {
    font-size: 19px;
    line-height: 1.5rem;
    padding: 20px 0;
    border-bottom: 1px solid #666;
    margin-bottom: 40px;
}

.text-red {
    color: #2fcab0;
    font-weight: 700;
}

.qna-contact h3 {
    margin-bottom: 40px;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 40px 0;
}

.qna-to details[open] img {
    transform: rotate(180deg);
}

.qna-to details>summary {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.qna-to details>summary img {
    width: 10px;
    margin-left: 10px;
}

.qna-to details>summary>div {
    display: flex;
    align-items: center;
}

.qna-to details>summary>div:nth-child(2)>div:nth-child(1) {
    display: none;
}

.qna-to details>summary>div:nth-child(1)>div:nth-child(1) {
    width: 80px;
    min-width: 57px;
    text-align: center;
    font-size: 0.8rem;
    background: #2fcab0;
    color: #fff;
    padding: 4px;
    border-radius: 20px;
    margin-right: 20px;
}

.to-wait>summary>div:nth-child(1)>div:nth-child(1) {
    background: #666 !important;
}

.to-wait>div:nth-child(3)>div {
    display: none;
}

.to-wait>div:nth-child(3)>p {
    color: #666;
}

.qna-to details>summary>div:nth-child(2)>div:nth-child(1) {
    color: #888;
}

.qna-to details>div {
    padding: 40px;
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    line-height: 1.4rem;
}

.qna-to details>div>div {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* news */

.news-list-wrap {
    width: 95%;
    max-width: 1200px;
    padding: 60px 0px 70px 0px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.news-list input::placeholder {
    font-size: 14px;
}

.news-list-wrap h3 {
    margin-bottom: 40px;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 40px 0;
    font-family: 'Noto Sans KR', sans-serif;
}



.news-list div:nth-child(1) {
    margin-bottom: 40px;
}

.news-list div:nth-child(1)>p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.news-list div:nth-child(1)>p>span {
    font-size: 23px;
}

.news-list div:nth-child(1)>div:nth-child(2) {
    display: flex;
}

.news-list div:nth-child(1)>div:nth-child(2) select {
    max-width: 100px;
    color: #000;
    background: url('https://user-images.githubusercontent.com/112612653/189023703-98e91f90-849c-4c73-acd4-821517f10f92.png') no-repeat 80% 55%/9px auto;
    font-size: 15px;
}

.news-list div:nth-child(1)>div:nth-child(2) div {
    width: calc(100% - 100px);
    min-width: 170px;
    position: relative;
    margin-left: 10px;
}

.news-list div:nth-child(1)>div:nth-child(2) input {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.news-list div:nth-child(1)>div:nth-child(2) img {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 15px;
    cursor: pointer;
}

.news-list section div:nth-child(1) {
    position: relative;
}

.news-list section div:nth-child(1)>div {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #2fcab0;
    bottom: 0;
    right: 0;
    font-size: 25px;
    text-align: center;
    padding-left: 14px;
    line-height: 2.3rem;
    color: #fff;
}

.list section {
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.list section div:nth-child(1) {
    overflow: hidden;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}

.list section:hover div:nth-child(1) img {
    transform: scale(1.2);
}

.list section img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: .3s;
}

.list section h3 {
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 12px;
    text-align: left;
    word-break: keep-all;
    line-height: 1.2;
}

.list section p {
    font-weight: 200;
    line-height: 1.2rem;
    margin-bottom: 20px;
}


.text-red {
    color: #2fcab0;
    font-weight: 700;
}

.page {
    display: flex;
    font-size: 1rem;
    color: #aaa;
    justify-content: center;
}

.page p {
    margin: 0 12px;
    padding: 0 8px;
    line-height: 2rem;
    cursor: pointer;
}

.checkpage {
    font-size: 26px;
    font-weight: 700;
    color: #222;
    border-bottom: 4px solid #2fcab0;
}


/* faq */


.faq {
    border: none;
}

.faq h3 {
    margin-bottom: 40px;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 40px 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.faq>ul {
    display: flex;
}

.faq>ul>li {
    width: 25%;
    height: 60px;
    text-align: center;
    font-size: 15px;
    line-height: 3.6rem;
    margin-bottom: 40px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.faq>ul>li>span {
    font-size: 13px;
    font-weight: 100;
    margin-left: 2px;
}

.tapsee {
    background: #2fcab0;
    color: #fff;
    border: 1px solid #2fcab0;
}

.faq>section {
    border-top: 1px solid #666;
    border-bottom: 1px solid #999;
}

.faq>section>div>div {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px;
    line-height: 1.4rem
}

.faq>section>div>div:nth-child(1) {
    border-bottom: 1px solid #ccc;
    background: #f9f9f9;
    cursor: pointer;
}

.faq>section>div>div:nth-child(1)>div:nth-child(1) {
    color: #888;
}

.faq>section>div>div:nth-child(2) {
    background: #eee;
    display: none;
}

.listsee {
    display: flex !important;
}

.faq>section>div>div>div:nth-child(1) {
    width: 120px;
}

.faq>section>div>div>div:nth-child(2) {
    width: calc(100% - 120px);
}

#list2,
#list3,
#list4 {
    display: none;
}

.faq-page {
    display: flex;
    font-size: 1rem;
    color: #aaa;
    justify-content: center;
    margin: 80px 0;
}

.faq-page p {
    margin: 0 12px;
    padding: 0 8px;
    line-height: 2rem;
    cursor: pointer;
}

.faq-checkpage {
    font-size: 26px;
    font-weight: 700;
    color: #222;
    border-bottom: 4px solid #2fcab0;
}



@media screen and (min-width: 1366px) {

    .list section {
        display: flex;
        justify-content: space-between;
    }

    .list section div:nth-child(1) {
        width: 400px;
    }

    .list section div:nth-child(2) {
        width: 46%;
    }

    .qna-to details>summary>div:nth-child(2)>div:nth-child(1) {
        display: block;
    }

    .news-list div:nth-child(1) {
        display: flex;
        justify-content: space-between;
    }

    .news-list div:nth-child(1)>div:nth-child(2) div {
        width: 270px;
    }

    .news-list div:nth-child(1)>div:nth-child(2) select {
        width: 100px;
    }
}